<style>
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
</style>
<script>
    //window.print();
</script>
<div class="book">
    <div class="page">
        <div class=WordSection1>

            <table class=MsoNormalTable border=0 cellpadding=0 align=left width="110%"
             style='width:110.64%;margin-left:6.75pt;margin-right:6.75pt'>
             <tr style='height:27.65pt'>
              <td style='padding:.75pt .75pt .75pt .75pt;height:27.65pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><strong><span
              style='font-size:12.0pt'><img width=98 height=98
              src="bang-bao-gia_files/image001.png"></span></strong></p>
              </td>
              <td rowspan=2 style='padding:.75pt .75pt .75pt .75pt;height:27.65pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><strong><span
              style='font-size:12.0pt'>CÔNG TY CP CÔNG NGHỆ VÀ ĐIỆN TỬ WOTECH</span></strong></p>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><span
              style='font-size:12.0pt'>Địa chỉ: Mão Điền, Thuận Thành, Bắc Ninh</span></p>
              </td>
             </tr>
             <tr style='height:2.9pt'>
              <td style='padding:.75pt .75pt .75pt .75pt;height:2.9pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><span
              style='font-size:12.0pt'>Số: 0106/BG</span></p>
              </td>
             </tr>
            </table>
            
            <p align=center style='text-align:center'><b><span style='font-size:20.0pt'><a
            href="https://download.vn/mau-bao-gia-31006">BẢNG BÁO GIÁ</a></span></b></p>
            
            <p><strong>Kính gửi:</strong> Anh Hoàng</p>
            
            <p style='text-align:justify;text-justify:inter-ideograph'>Công ty cổ phần Công
            nghệ và Điện tử WoTech xin trân trọng báo giá dịch vụ làm website như sau:</p>
            
            <table class=MsoNormalTable border=1 cellpadding=0 width="100%"
             style='width:100.0%;border:solid black 1.0pt'>
             <tr>
              <td width="6%" style='width:6.14%;border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><strong><span
              style='font-size:12.0pt'>STT</span></strong></p>
              </td>
              <td width="32%" style='width:32.56%;border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><strong><span
              style='font-size:12.0pt'>NỘI DUNG CÔNG VIỆC</span></strong></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><strong><span
              style='font-size:12.0pt'>ĐVT</span></strong></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><strong><span
              style='font-size:12.0pt'>KHỐI LƯỢNG</span></strong></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><strong><span
              style='font-size:12.0pt'>ĐƠN GIÁ</span></strong><span style='font-size:12.0pt'><br>
              <strong>(VNĐ)</strong></span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><strong><span
              style='font-size:12.0pt'>THÀNH TIỀN</span></strong><span style='font-size:
              12.0pt'><br>
              <strong>(VNĐ)</strong></span></p>
              </td>
             </tr>
             <tr>
              <td width="6%" style='width:6.14%;border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><span
              style='font-size:12.0pt'>1</span></p>
              </td>
              <td width="32%" style='width:32.56%;border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
             </tr>
             <tr>
              <td width="6%" style='width:6.14%;border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><span
              style='font-size:12.0pt'>2</span></p>
              </td>
              <td width="32%" style='width:32.56%;border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
             </tr>
             <tr>
              <td width="6%" style='width:6.14%;border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><span
              style='font-size:12.0pt'>3</span></p>
              </td>
              <td width="32%" style='width:32.56%;border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
             </tr>
             <tr>
              <td width="6%" style='width:6.14%;border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><span
              style='font-size:12.0pt'>4</span></p>
              </td>
              <td width="32%" style='width:32.56%;border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
             </tr>
             <tr>
              <td width="6%" style='width:6.14%;border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><span
              style='font-size:12.0pt'>5</span></p>
              </td>
              <td width="32%" style='width:32.56%;border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
             </tr>
             <tr>
              <td colspan=5 style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal align=center style='text-align:center;line-height:normal'><strong><span
              style='font-size:12.0pt'>TỔNG CỘNG:</span></strong></p>
              </td>
              <td style='border:solid black 1.0pt;padding:.75pt .75pt .75pt .75pt'>
              <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt'>&nbsp;</span></p>
              </td>
             </tr>
            </table>
            <p style='text-align:justify;text-justify:inter-ideograph'>(Bằng chữ:
            ......................................……………../...... đồng)</p>
            <p style='text-align:justify;text-justify:inter-ideograph'><strong>Ghi chú:</strong></p>
            <p style='text-align:justify;text-justify:inter-ideograph'>- Đơn giá chưa bao gồm
            thuế VAT</p>
            
            <p style='text-align:justify;text-justify:inter-ideograph'>Mọi chi tiết vui
            lòng xin liên hệ: </p>
            
            <p style='text-align:justify;text-justify:inter-ideograph'>Mr                                           Di
            động                                   Email </p>
            
            <p style='text-align:justify;text-justify:inter-ideograph'>Trân trọng kính chào
            !</p>
            
            </div>   
    </div>
</div>